<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- PRIMARY: Uses .\SQLEXPRESS (installed on local machine) with |DataDirectory| relative path -->
    <add name="OrganDB"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Organ_Donation_Database.mdf;Integrated Security=True;User Instance=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="main_dbConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Organ_Donation_Database.mdf;Integrated Security=True;User Instance=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="main_dbConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Organ_Donation_Database.mdf;Integrated Security=True;User Instance=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="main_dbConnectionString3" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Organ_Donation_Database.mdf;Integrated Security=True;User Instance=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="validationsettings:UnobtrusiveValidationMode" value="None"/>
    <!-- Email / SMTP Settings for Password Reset -->
    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpUser" value="ayumakwana093@gmail.com"/>
    <add key="SmtpPass" value="qzcl ixrc ejag qnxf"/>
    <add key="SmtpEnableSsl" value="true"/>
    <add key="SmtpFromEmail" value="ayumakwana093@gmail.com"/>
    <add key="SmtpFromName" value="Ishika Organ Donation Foundation"/>
    <!-- Password Reset Token Validity in Minutes -->
    <add key="ResetTokenExpiryMinutes" value="30"/>
  </appSettings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!-- Route errors to custom pages -->
    <customErrors mode="On" defaultRedirect="Error_500.aspx">
      <error statusCode="404" redirect="Error_404.aspx"/>
      <error statusCode="500" redirect="Error_500.aspx"/>
    </customErrors>
  </system.web>
</configuration>
